@font-face{
  font-family:  Arial, Helvetica, sans-serif;
  font-family: 'Great Vibes', cursive;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: #c8aca8;
}

h1 {
   /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
   font-family: 'Nunito', sans-serif; /* use 'Lato' for a bulkier font */
   font-size: 55px;
   text-align: left;
   font-style: normal;
   letter-spacing: 2.5px;
   font-weight: 900;
   color: #212121;
   margin-bottom: -5px;
   margin-left: 13.1%;
   margin-top: 20px;
}
h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #212121;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 13.1%;
}
h3 {
  font-weight: 300;
  font-size: 16px;
  margin-left:13.1%;
  color: #212121;
}
p{
  color: #676767;
  /* font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: none;
  padding-left:200px;
  padding-right:200px;
  margin-left:300px
  margin-right:300px; */
  /* font-family:  Arial, Helvetica, sans-serif; */
  font-weight: 600;
  line-height: 27px;
  font-size: 13.2px;
  letter-spacing: .7px;
  color: #676767;
  max-width: 46.6%;
  font-family: 'Nunito', sans-serif;
  margin-left: 13.1%;
}
/*horizontal line*/
hr {
  width: 46.6%;
  height: 3px;
  margin-left: 13.1%;
  margin-right: auto;
  background-color: #90bfff;
  border: 0 none;
  margin-top: none;
  margin-bottom:none;
}
/* page divider */
#divider {
  background-color: /* #90bfff; */ #DEDDDD;
  height: 3px;
}
#smallDivider {
  width: 6%;
  height: 3px;
  margin-left: 13.1%;
  margin-right: auto;
  background-color: #90bfff;
  border: 0 none;
  margin-top: none;
  margin-bottom:none;
}
a{
  color: #90bfff;
}
a:visited{
  color: #90bfff;
}
ul {
  padding-left: 0;
  margin-left: 13.1%;
  list-style-type: none;
}
li{
  display: inline;
  vertical-align:middle;
}

/*---------------navigation bar---------------*/
/* background of nav bar */
.topnav {
  overflow: hidden;
  background-color: #90bfff;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Nunito', sans-serif;
}

.topnav a:hover {
  background-color: white;
  color: #90bfff;
}

.topnav a.active {
  background-color: #90bfff;
  border-bottom: 3px solid white;
  color: white;
}

/*---------------side by side images used in aboutme---------------*/
.column1 {
  float: left;
  width: 23%;
  padding: .3%;
  margin-left: 12.8%; /* 200 - padding (200 is the margin left for my paragraphs) */
}
.column2 {
  float: left;
  width: 23%;
  padding: .3%;
}
.column3 {
  float: left;
  width: 46.6%;
  padding-bottom: .9%;
  margin-left: 13.1%;
}
.column4 {
  float: right;
  width: 23%;
  margin-right: 13.1%;
  vertical-align: middle;
  display: inline;
  margin-top:-5%;
}
.text {
  color: #676767;
  font-weight: 600;
  line-height: 27px;
  font-size: 13.2px;
  letter-spacing: .7px;
  float: left;
  width: 46.6%;
  height: 23%;
  padding: .3%;
  margin-left: 12.8%;
  vertical-align: middle;
  display: inline;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  vertical-align: middle;
}
.hvr-grow {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; 
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05); 
}
.hvr-grow2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; 
}

.hvr-grow2:hover, .hvr-grow2:focus, .hvr-grow2:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 
}
#three {
  -webkit-animation-delay: .30s;
      /* Chrome, Safari, Opera */
      animation-delay: .30s;
}
#four {
  -webkit-animation-delay: .45s;
      /* Chrome, Safari, Opera */
      animation-delay: .45s;
}
/* FOR RESUME iframe
iframe{
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:hidden;
}
*/